<div id='signup'>
  <h1>Sign Up</h1>
  <form name="signupForm" ng-submit='signup()'>
    <span> First Name </span>
    <input type='text' ng-model='user.firstName'>
    <span> Last Name </span>
    <input type='text' ng-model='user.lastName'>
    <span> Location </span>
    <input type='text' ng-model='user.location'>
    <span> Username </span>
    <input type='text' ng-model='user.username'>
    <span> Email Address </span>
    <input type='text' ng-model='user.emailAddress'>
    <span> Password </span>
    <input type="password" ng-model='user.password'>
    <span> Are you a Pilot or a Seeker? </span>
    <select ng-model='user.userType' name="type">
      <option value="Seeker">Seeker</option>
      <option value="Pilot">Pilot</option>
    </select>
    <button>Sign Up!</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Sign In</strong> ...</a>
</div>
